<fieldset>
    <legend>Teams</legend>
    <%= form_for(@team) do |f| %>
        <% if @team.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

                <ul>
                    <% @team.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>  
       
        <div class="field">
            <%= f.label :name, "Team Name" %><br />
            <%= f.text_field :name %>
        </div>
        <div class="field">
            <%= f.label :email, "Student Email" %><br />
            <%= f.collection_select :email, student, :email, :name_and_email, {:include_blank => "Please select"} %>
        </div> 
        <div class="actions">
            <%= f.submit "Create or Update Team", class: 'button small radius secondary' %>
        </div>
    <% end %>
</fieldset>   

