<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>First:</strong>
  <%= @member.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @member.last %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @member.teacher %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
